PowerAppSolution/pkgs/Wadl/Whisper.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/whisper-5f05614731e760ade9-5fb4923549f21f2fa4" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Whisper" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Whisper"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/whisper-5f05614731e760ade9-5fb4923549f21f2fa4" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="Speech2Text_responses_default_def_text_def" />
      <object name="Speech2Text_responses_default_def">
        <property name="text" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/whisper-5f05614731e760ade9-5fb4923549f21f2fa4">
    <resource path="/{connectionId}/v1/audio/transcriptions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Speech2Text" actionName="Speech2Text" siena:isDeprecated="false">
        <doc title="Speech to Text" />
        <request>
          <param style="header" name="Content-Type" type="xs:string" />
          <representation mediaType="multipart/form-data">
            <param style="query" name="file" type="xs:base64Binary" required="true" />
            <param style="query" name="filename" type="xs:string" required="true" />
            <param style="query" name="model" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Speech2Text_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_whisper-5f05614731e760ade9-5fb4923549f21f2fa4" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>